.navi{
    background-color: black;
    color: white;
    text-align: center;
}
li{
    display: inline-block;
    padding-right: 2em;
    padding-bottom: 1em;
}
li:hover{
    color: red;
}
.chef{
    text-align: left;
}
.navibar{
    margin: 0px;
    padding-top: 1ex;
}
.receipe{
    width: 20em;
    height: 23em;
    background-color:white;
    color: black;
    border-width: 0.5em;
    border-color: black;
    border-style: solid;
    text-align: center;
    display: inline-block;
    padding: 0.7em;    
}
.receipecon{
    text-align: center;
    padding: 1em;
}
h3{
    text-align: center;
    color: white;
    background-color: black;
    display: inline-block;
    height: 7%;
    padding: 0.2em;
}
h3:hover{
    color: black;
    background-color:darkorange;
    cursor: pointer;
}
.contact{
    text-align: center;
    color:white;
    display: inline-block;
    margin-left: 18%;
    h3{
    background-color: yellow;
    color: black;
    width: 20em;
    cursor: pointer;
    }
}
.chef{
    display: inline-block;
    padding: 1em;
}
.contactcontainer{
    background-color: black;
}

